@media (max-width: 800px) {
  .position {
    position: relative;
    top: -350px;
    left: 530px;
  }
}

@media (min-width: 801px) {
  .position {
    position: relative;
    top: -350px;
    left: 535px;
  }
}
