<nav class="navbar navbar-expand-lg navbar-dark" style="    background-color: #17a2b8;" *ngIf="currentUser">
  <a class="navbar-brand" routerLink="/">Livros Facil</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/logar" (click)="logout()" routerLinkActive="active"><i
            class="fas fa-sign-out-alt"></i> Deslogar</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/usuarios" routerLinkActive="active"><i class="fas fa-users"></i> Usuarios</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/livros" routerLinkActive="active"><i class="fas fa-book"></i> Livros</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/livrosAlugados" routerLinkActive="active"><i class="fas fa-book"></i> Livros
          Alugados</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/livros/adicionar" routerLinkActive="active"><i class="fas fa-plus-circle"></i>
          Adicionar Livros</a>
      </li>

    </ul>
  </div>
</nav>
